[Unit]
Description=Mailbox synchronization service

[Service]
Type=oneshot
ExecStartPre=-/usr/bin/mbsync -a
ExecStart=/usr/bin/fdm fetch
ExecStartPost=/usr/bin/emacsclient -e '(notmuch-poll)'
ExecStartPost=/usr/bin/emacsclient -e '(mu4e-update-index)'
